.good__container {
    padding: 180px 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 36px;
}

.good__photo {
    width: 100%;
    padding: 36px;
}

.good__title {
    font-size: 36px;
    display: inline-block;
    margin: 0;
    margin-right: 32px;
}

.good__info {
    list-style: none;
}

.good__price {
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    background: #3838d3;
    color: white;
}

.good__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.good__buy {
    margin-top: 32px;
}